/* Vars */
:root {
  /* colors  */
  --primary-color: rgba(255, 107, 0, 1);
  --primary-color-hover: rgb(230, 96, 0);
  --secondary-color: rgba(35, 36, 79, 1);
  --secondary-color-hover: rgb(27, 28, 61);
  --gray: rgba(47, 48, 55, 1);
  --soft-gray: rgba(124, 126, 139, 1);
  --white-color: #ffffff;
}
/* fonts */
/* vietnamese */
@font-face {
  font-family: "Visuelt Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/visuelt/VisueltPro-Regular.woff) format("woff");
}
/* end fonts  */
/* general */
html,
body {
  font-family: "Visuelt Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: rgb(240, 240, 242);
  background: -moz-linear-gradient(
    137deg,
    rgba(240, 240, 242, 1) 0%,
    rgba(198, 199, 205, 1) 100%
  );
  background: -webkit-linear-gradient(
    137deg,
    rgba(240, 240, 242, 1) 0%,
    rgba(198, 199, 205, 1) 100%
  );
  background: linear-gradient(
    137deg,
    rgba(240, 240, 242, 1) 0%,
    rgba(198, 199, 205, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f0f2",endColorstr="#c6c7cd",GradientType=1);
}
.bg-primary {
  background-color: var(--primary-color) !important;
  color: var(--white-color);
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.btn {
  padding: 14px 34px;
  border-radius: 8px;
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.navigation-btn > a {
  color: var(--white-color) !important;
  background-color: var(--primary-color);
  padding: 14px 34px !important;
  border-radius: 8px;
}
.btn-primary:hover {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
}
.btn.btn-light {
  border-color: var(--gray);
  background-color: var(--white-color);
}
.benefits .text-muted,
.text-muted {
  color: var(--soft-gray);
  font-size: 16px;
  font-weight: 400;
}
.shadow-lg {
  box-shadow: 0px 60px 120px 0px rgba(56, 58, 114, 0.14) !important;
  -webkit-box-shadow: 0px 60px 120px 0px rgba(56, 58, 114, 0.14) !important;
}
/* end general */
/* header */
.navbar-brand img {
  height: 36px !important;
}
/* end header */
/* conversion rate call component */
#conversion-rate-call {
  width: 276px;
  height: 120px;
  left: -70px;
  bottom: 90px;
  z-index: 1;
}
/* end conversion rate call component */
/* delivered calls component*/
#delivered-call {
  bottom: 200px;
  left: -40px;
  z-index: 2;
}
/* end delivered calls componet */
/* new sales componet  */
#new-sales {
  top: 150px;
  right: -180px;
}
/* end new sales componet */
/* media query */
/* Small only */
@media screen and (max-width: 39.9375em) {
  /* header main image */
  #header_main_image {
    z-index: 2;
  }
  /* end header_main_image */
  /* conversion rate call component */
  #conversion-rate-call {
    left: -10px;
    bottom: 40px;
    z-index: 3;
  }
  /* end conversion rate call component */
  /* delivered calls component*/
  #delivered-call {
    bottom: 148px;
    left: 20px;
    z-index: 4;
  }
  /* end delivered calls componet */
  /* new sales */
  #new-sales {
    top: -50px;
    right: 0px;
    z-index: 1;
  }
  /* end new sales */
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /* conversion rate call component */
  #conversion-rate-call {
    left: -10px;
    bottom: 40px;
    z-index: 3;
  }
  /* end conversion rate call component */
  /* delivered calls component*/
  #delivered-call {
    bottom: 148px;
    left: 20px;
    z-index: 4;
  }
  /* end delivered calls componet */
  /* new sales */
  #new-sales {
    top: -20px;
    right: -80px;
    z-index: 1;
  }
  /* end new sales */
  /* header main image */
  #header_main_image {
    z-index: 2;
  }
  /* end header_main_image */
}
/* end media query */
